ion-card {
    ion-card-content {
      text-align: center;
      ion-img {
        max-width: 100%;
        height: auto;
      }
      ion-card-title {
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
  